<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QURKVAg=</data>
					<key>Replace</key>
					<data>WERKVAg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change ADJT to XDJT for Battery Hotpatch</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>Q0xSSQg=</data>
					<key>Replace</key>
					<data>WExSSQg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change CLRI to XLRI for Battery Hotpatch</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0JTVAA=</data>
					<key>Replace</key>
					<data>WEJTVAA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _BST to XBST for Battery Hotpatch</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VVBCSQA=</data>
					<key>Replace</key>
					<data>WFBCSQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change UPBI to XPBI for Battery Hotpatch</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VVBCUwA=</data>
					<key>Replace</key>
					<data>WFBCUwA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change UPBS to XPBS for Battery Hotpatch</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U01SRAQ=</data>
					<key>Replace</key>
					<data>WE1SRAQ=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SMRD to XMRD for Battery Hotpatch</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U01XUgQ=</data>
					<key>Replace</key>
					<data>WE1XUgQ=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SMWR to XMWR for Battery Hotpatch</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixRTC</key>
				<true/>
				<key>AddPNLF</key>
				<true/>
			</dict>
			<key>PNLF_UID</key>
			<string>0x10</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v dart=0 darkwake=10 agdpmod=vit9696</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Timeout</key>
		<integer>5</integer>
		<key>NoEarlyProgress</key>
		<true/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<false/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>hp</string>
		<key>Language</key>
		<string>zh-Hant:-16899</string>
		<key>Hide</key>
		<array>
			<string>BOOTX64.efi</string>
			<string>Windows</string>
			<string>Preboot</string>
			<string>Recovery</string>
			<string>Ubuntu</string>
			<string>UOS</string>
		</array>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<true/>
		<key>UseARTFrequency</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>GAAAAA==</data>
				<key>device-id</key>
				<data>cKEAAA==</data>
				<key>alc-delay</key>
				<data>9AEAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AAAbWQ==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
			</dict>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>PanicNoKextDump</key>
		<true/>
		<key>EightApple</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>kdh9v1SO</data>
		<key>MLB</key>
		<string>C02828101GUJ1JHA8</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0xBE7</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE17E</string>
		<key>Board-ID</key>
		<string>Mac-551B86E5744E2388</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF7F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>NoRomInfo</key>
		<true/>
		<key>BiosVersion</key>
		<string>MBP143.88Z.F000.B00.2006161755</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02828101GUJ1JHA8</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro14,3</string>
		<key>SmUUID</key>
		<string></string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>428.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C02X27Y8HTD5</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>06/16/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string></string>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>4275159040</integer>
				<key>Comment</key>
				<string>Haswell: SB_RCBA is a 0x4 page memory region, containing SPI_BASE at 0x3800 (SPI_BASE_ADDRESS)</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4278190080</integer>
				<key>Comment</key>
				<string>Generic: PCI root is a 0x1000 page memory region used by some firmwares</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>DisableIoMapper</key>
		<false/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableRtcChecksum</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
</dict>
</plist>
