
EFI_CLOVER/.DS_Store
EFI_CLOVER/BOOT/.DS_Store
EFI_CLOVER/CLOVER/.DS_Store
EFI_CLOVER/CLOVER/ACPI/.DS_Store
EFI_CLOVER/CLOVER/ACPI/patched/.DS_Store
EFI_CLOVER/CLOVER/drivers/.DS_Store
EFI_CLOVER/CLOVER/drivers/UEFI/.DS_Store
EFI_CLOVER/CLOVER/kexts/.DS_Store
EFI_CLOVER/CLOVER/kexts/Off/.DS_Store
EFI_CLOVER/CLOVER/kexts/Other/.DS_Store
EFI_CLOVER/CLOVER/themes/.DS_Store
EFI_CLOVER/CLOVER/themes/hp/.DS_Store
EFI_OC/.DS_Store
EFI_OC/OC/ACPI/.DS_Store
EFI_OC/OC/Drivers/.DS_Store
EFI_OC/OC/Kexts/.DS_Store
